/* Home */
#home{
    height: 820px;
}
.headings{
    font-size: 1.7rem;
}

/* About */
#pic img{
    width:250px;
    height: 300px;
}
#intro h2{
    font-size: 1.5rem;
}

/* Portfolio */
.gallery img{
    width: 250px;
    height: 150px;
    margin: 10px;
}

/* contact */
.input{
    width:85%;
}
#msg{
    width:85%;
}
#send{
    width:85%;
}